## Librerías

In [1]:
# Tratamiento de datos
# ==============================================================================
import pandas as pd
import numpy as np

# Gráficos
# ==============================================================================
import matplotlib.pyplot as plt
from matplotlib import style
import seaborn as sns
from mlxtend.plotting import plot_decision_regions

# Preprocesado y modelado
# ==============================================================================
from sklearn.svm import SVC
from sklearn.svm import SVR
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import mean_squared_error

# Configuración matplotlib
# ==============================================================================
plt.rcParams['image.cmap'] = "bwr"
#plt.rcParams['figure.dpi'] = "100"
plt.rcParams['savefig.bbox'] = "tight"
style.use('ggplot') or plt.style.use('ggplot')

# Configuración warnings
# ==============================================================================
import warnings
warnings.filterwarnings('ignore')

In [2]:
#Carga de Datos
df = pd.read_csv('Data Nueva.csv',sep=',', skiprows=1, names=['N_Caso', 
                                                              'Cu', 
                                                              'Zr', 
                                                              'NAtomos', 
                                                              'Lx', 
                                                              'Ly', 
                                                              'Lz', 
                                                              'Crate', 
                                                              'T', 
                                                              'UTS', 
                                                              'Flow_Stress',
                                                              'E',
                                                              'Yield_strength',
                                                              'Resilence',
                                                              'Toughness',
                                                              'Poissonratio',
                                                              'Coord_1st',
                                                              'Coord_2nd',
                                                              'W_mean'
                                                              
                                                             ])
df.head(10)

,N_Caso,Cu,Zr,NAtomos,Lx,Ly,Lz,Crate,T,UTS,Flow_Stress,E,Yield_strength,Resilence,Toughness,Poissonratio,Coord_1st,Coord_2nd,W_mean
0,1,43,57,16640,207.36,84.24,16.20,80000000000,250,1.99582,1.22679,50.26332,1.45366,0.02395,0.27239,0.41306,12.49,55.26,0.543
1,2,47,53,23400,162.00,84.24,29.16,40000000000,110,2.49807,1.53889,58.09865,1.76514,0.03002,0.34095,0.39564,12.63,56.77,0.557
2,3,54,46,58240,259.20,84.24,45.36,40000000000,110,2.63827,1.57795,59.65716,1.89148,0.03345,0.35723,0.41261,12.82,58.77,0.574
3,4,38,62,25168,168.48,71.28,35.64,10000000000,170,2.43189,1.34140,55.01061,1.66102,0.02778,0.31127,0.42505,12.40,54.15,0.546
4,5,54,46,36816,191.16,84.24,38.88,20000000000,150,2.65556,1.49051,59.33614,1.82001,0.03152,0.34736,0.40290,12.81,58.73,0.573
5,6,52,48,14740,217.08,71.28,16.20,10000000000,170,2.80341,1.58372,59.75726,1.59272,0.02301,0.35097,0.43157,12.76,58.08,0.571
6,7,60,40,72000,259.20,97.20,48.60,40000000000,290,2.30325,1.37800,55.95710,1.69022,0.02846,0.30900,0.40681,12.95,60.25,0.595
7,8,59,41,40950,204.12,81.00,42.12,10000000000,90,2.97929,1.79900,64.05474,1.93567,0.03276,0.40321,0.41169,12.96,60.32,0.606
8,9,46,54,34506,230.04,87.48,29.16,10000000000,290,2.43559,1.24464,55.16864,1.54916,0.02450,0.29645,0.38807,12.56,56.17,0.548
9,10,49,51,32500,210.60,81.00,32.40,20000000000,150,2.64200,1.42221,57.19410,1.84481,0.03362,0.33676,0.42639,12.69,57.25,0.560

In [3]:
#Creo una copia de seguridad y borro indice.
Data = df
Data = Data.drop(columns=['N_Caso'])
Data.head()

,Cu,Zr,NAtomos,Lx,Ly,Lz,Crate,T,UTS,Flow_Stress,E,Yield_strength,Resilence,Toughness,Poissonratio,Coord_1st,Coord_2nd,W_mean
0,43,57,16640,207.36,84.24,16.20,80000000000,250,1.99582,1.22679,50.26332,1.45366,0.02395,0.27239,0.41306,12.49,55.26,0.543
1,47,53,23400,162.00,84.24,29.16,40000000000,110,2.49807,1.53889,58.09865,1.76514,0.03002,0.34095,0.39564,12.63,56.77,0.557
2,54,46,58240,259.20,84.24,45.36,40000000000,110,2.63827,1.57795,59.65716,1.89148,0.03345,0.35723,0.41261,12.82,58.77,0.574
3,38,62,25168,168.48,71.28,35.64,10000000000,170,2.43189,1.34140,55.01061,1.66102,0.02778,0.31127,0.42505,12.40,54.15,0.546
4,54,46,36816,191.16,84.24,38.88,20000000000,150,2.65556,1.49051,59.33614,1.82001,0.03152,0.34736,0.40290,12.81,58.73,0.573

In [4]:
df = Data[['Cu',
         'Zr',
         'T',
         'E',
         'Yield_strength',
         'Resilence',
         'Coord_1st',
         'W_mean',
         'UTS',
         'Flow_Stress',
         'Toughness',
             ]]

df

,Cu,Zr,T,E,Yield_strength,Resilence,Coord_1st,W_mean,UTS,Flow_Stress,Toughness
0,43,57,250,50.26332,1.45366,0.02395,12.49,0.543,1.99582,1.22679,0.27239
1,47,53,110,58.09865,1.76514,0.03002,12.63,0.557,2.49807,1.53889,0.34095
2,54,46,110,59.65716,1.89148,0.03345,12.82,0.574,2.63827,1.57795,0.35723
3,38,62,170,55.01061,1.66102,0.02778,12.40,0.546,2.43189,1.34140,0.31127
4,54,46,150,59.33614,1.82001,0.03152,12.81,0.573,2.65556,1.49051,0.34736
...,...,...,...,...,...,...,...,...,...,...,...
95,58,42,290,56.31742,1.34895,0.01809,12.88,0.580,2.21907,1.33615,0.29937
96,64,36,130,60.45558,1.98354,0.03704,13.07,0.615,2.86866,1.75045,0.37378
97,63,37,250,56.90290,1.60598,0.02508,13.04,0.604,2.37488,1.48328,0.32383
98,38,62,130,54.26254,1.80562,0.03342,12.41,0.546,2.39711,1.32283,0.31112
99,49,51,230,57.30069,1.83391,0.03302,12.66,0.553,2.53499,1.44624,0.32316

In [5]:
# Particionado del conjunto de datos

train_set, test_set = train_test_split(df,test_size = 0.3, random_state= 42,shuffle=False)

In [6]:
train_set

,Cu,Zr,T,E,Yield_strength,Resilence,Coord_1st,W_mean,UTS,Flow_Stress,Toughness
0,43,57,250,50.26332,1.45366,0.02395,12.49,0.543,1.99582,1.22679,0.27239
1,47,53,110,58.09865,1.76514,0.03002,12.63,0.557,2.49807,1.53889,0.34095
2,54,46,110,59.65716,1.89148,0.03345,12.82,0.574,2.63827,1.57795,0.35723
3,38,62,170,55.01061,1.66102,0.02778,12.40,0.546,2.43189,1.34140,0.31127
4,54,46,150,59.33614,1.82001,0.03152,12.81,0.573,2.65556,1.49051,0.34736
...,...,...,...,...,...,...,...,...,...,...,...
65,65,35,290,57.28078,1.74409,0.03021,13.09,0.614,2.48814,1.43383,0.31743
66,43,57,230,51.45430,1.45988,0.02260,12.49,0.548,2.11871,1.27718,0.28876
67,62,38,230,63.36551,1.82807,0.02901,12.99,0.616,2.79767,1.59199,0.36442
68,47,53,110,59.10033,1.89186,0.03367,12.63,0.558,2.79169,1.59641,0.35774
69,51,49,210,56.39610,1.75114,0.03053,12.72,0.562,2.49184,1.49143,0.32823

In [7]:
variables_dependientes = ["UTS","Flow_Stress","Toughness"]
for variable_y in variables_dependientes:
    print("\nResultados usando variable dependiente:", variable_y)
    # Conjunto de datos de entrenamiento
    X_train = train_set[["Cu","Zr","T","E","Yield_strength","Resilence","Coord_1st","W_mean"]].copy()
    y_train = train_set[variable_y].copy()

    # Conjunto de datos de pruebas
    X_test = test_set [["Cu","Zr","T","E","Yield_strength","Resilence","Coord_1st","W_mean"]].copy()
    y_test = test_set[variable_y].copy()
    
    #Se llama a la funcion SVR
    svr = SVR(kernel="rbf", C = 0.1)
    svr.fit(X_train,y_train)
    
    y_pred = svr.predict(X_test)
    
    score = svr.score(X_train,y_train)
    print("R-squared:", score)

Resultados usando variable dependiente: UTS
R-squared: 0.49379011860483735

Resultados usando variable dependiente: Flow_Stress
R-squared: 0.6125685284799092

Resultados usando variable dependiente: Toughness
R-squared: -0.20945078329124867